/* Misc */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4E4E56;
}

fieldset {
    background-color: #DCD0C0;
    border: 0px;
    margin-top: 5px;
}

a {
    color: #4E4E56;
}

legend {
    display: none;
}

.content {
    width: 1080px;
    margin: 0 auto 0 auto;
}

.button {
    background-color: #B1938B;
    border: 0px;
    color: #FFFFFF;
    padding: 5px;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
}

.button-container {
    margin: 0px;
}

.action-result {
    color: #006400;
}

/* Makes */

.make {
    float: left;
    margin: 5px;
    background-color: #DCD0C0;
    width: 150px;
    height: 150px;
    position: relative;
}

.make:hover {
    cursor: pointer;
}

.edit-make {
    display: none;
    right: 5px;
    position: absolute;
}

.make:hover .edit-make {
    display: inline;
}

.make-logo {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
}

.make-name {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.add-make {
    margin-left: 5px;
    display: block;
}

/* Models */

.model-name {
    margin-left: 5px;
    font-size: 16px;
}

.model-image {
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
}

.model {
    margin-top: 5px;
    background-color: #DCD0C0;
    position: relative;
}

.model:hover {
    cursor: pointer;
}

.edit-model {
    display: none;
    right: 5px;
    position: absolute;
    top: 0px;
}

.model:hover .edit-model {
    display: inline;
}

/* Categories */

.delete-category {
    display: inline;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    vertical-align: top;
}

.category-tree ul {
    list-style-type: none;
    padding-left: 20px;
}