<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/Styles/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/Resources/Scripts/jquery-2.1.1.js")"></script>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
